.someOtherClass {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
}
@media (max-width: 750px) {
    .someOtherClass {
        position: static;
        transform: translateX(0);
        width: 100%;
        max-width: 450px;
    }
}