.form {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 8px;
}

.div {
    margin-bottom: 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(16, 38, 56);
    color: #fff;
}
.textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    height: 150px;
    background-color: rgb(16, 38, 56);
    color: #fff;
}

.button {
    padding: 10px 15px;
    width: 100%;
    background-color: rgb(16, 38, 56);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background-color: #fff;
    color: rgb(16, 38, 56);
}
input::placeholder, textarea::placeholder {
    color: #fff;
    font-size: 12px;
}
