.button {
    padding: 10px 20px;
    border: 1px solid #fff;
    cursor: pointer;
    background-color: rgb(16, 38, 56);
    color: white;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}
.button:hover {
    background-color: #fff;
    color: rgb(16, 38, 56);
}